PORT=3003
NODE_ENV=development
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ff14_db
POSTGRES_USER=ff14
POSTGRES_PASSWORD=ff14local
REDIS_HOST=localhost
REDIS_PORT=6379
RABBITMQ_URL=amqp://ff14:ff14local@localhost:5672

